.cell {
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    margin: 1px;
}

.constraint {
    align-items: center;
    color: #305A88;
    font-size: 16px;
    justify-content: center;
}

.last-clicked {
    outline: 0 solid #ecbe01;
    animation: cell-clicked-animation .1s;
}

@keyframes cell-clicked-animation {
    0% {
        outline-width: 0;
    }
    50% {
        outline-width: 4px;
    }
    100% {
        outline-width: 0;
    }
}

.fulfilled {
    background-color: #0A963E;
    color: white;
}

.unfulfilled {
    background-color: #E24E56;
    color: white;
}

.row {
    justify-content: flex-end;
}

.row div {
    margin-right: 8px;
    padding: 2px 10px;
}

.column {
    align-items: flex-end;
}

.column div {
    margin-bottom: 8px;
    padding: 2px 10px;
}

.cell img {
    background-color: #31A7E6;
    max-width: 100%;
    user-select: none;
}

.water {
    background-color: #31A7E6;
}

.empty {
    background-color: #c2cddd;
}
