.App {
    display: grid;
    height: 100vh;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto;
}

section {
    background-color: #F1FAFF;
    align-items: center;
    display: flex;
    justify-content: center;
}

h1 {
    color: #305A88;
}

nav {
    color: #F1FAFF;
    background-color: #0288D1;
    padding-left: 16px;
    padding-right: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
}

h2 {
    text-align: center;
}

.menu-label {
    margin-bottom: 4px;
    font-size: 12px;
}

.strategy-label {
    margin-top: 32px;
}

.reset-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    font-size: 12px;
    cursor: pointer;
    outline: inherit;
    margin-top: 4px;
    text-align: right;
}

.game-container {
    background-color: white;
    color: #004D00;
    display: flex;
    flex-direction: column;
    width: 80vh;
    height: 80vh;
}

.card {
    background-color: white;
    border-radius: 2px;
    position: relative;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.game-row {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
}

.game-cell {
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    margin: 1px;
}

.constraint {
    align-items: center;
    color: #305A88;
    justify-content: center;
    font-size: 20px;
}

.constraint.fulfilled {
    color: #BBBBBB;
    font-weight: bold;
}

.constraint.unfulfilled {
    color: red;
    font-weight: bold;
}


img {
    background-color: #31A7E6;
    max-width: 100%;
}

.water {
    background-color: #31A7E6;
}

.empty {
    background-color: black;
}
